.jumbotron {
background-image: url("https://i.pinimg.com/564x/1c/4a/75/1c4a75910c5fb6f2f52f56091509a493.jpg");
background-size: auto 100%;
text-align: center;
color: rgb(240, 236, 220);
text-shadow: 3px 3px 2px rgb(61, 48, 16);
}

body {
background-color: rgba(202, 201, 182, 0.952);
color: black;
border-color: white;
}
#mypanels {
    background-color: rgba(202, 201, 182, 0.87);
    background:#4e79b8;
    color: black;


    }

#mypanel {
background-color: rgba(202, 201, 182, 0.87);
background: #4e79b8;
color: black;
}

#sample-metadata {
    background-color: rgba(202, 201, 182, 0.87);
    background: rgba(202, 201, 182, 0.87);
    color: black;
    box-sizing: border-box whitesmoke;
}

